div.form-group
  label.col-sm-3.control-label Name
  div.col-sm-9
    input.form-control(type="text", name="name" value=name)
div.form-group
  label.col-sm-3.control-label Site
  div.col-sm-9
    input.form-control(type="select", name="siteid" value=siteid)
div.form-group
  label.col-sm-3.control-label Endpoint
  div.col-sm-9
    input.form-control(type="text", name="destinationport" value=destinationport)
div.form-group
  label.col-sm-3.control-label Shared secret
  div.col-sm-9
    input.form-control(type="text", name="destinationAE" value=destinationAE)
div.form-group
  label.col-sm-3.control-label Phase 1
  div.col-sm-9
    input.form-control(type="text", name="sourceAE" value=sourceAE)
div.form-group
  label.col-sm-3.control-label Phase 2
  div.col-sm-9
    input.form-control(type="text", name="sourceAE" value=sourceAE)
div.form-group
  label.col-sm-3.control-label Keepalive
  div.col-sm-9
    input.form-control(type="text", name="sourceAE" value=sourceAE)
