div.form-group
  label.col-sm-3.control-label Name
  div.col-sm-9
    input.form-control(type="text", name="name" value=name)
div.form-group
  label.col-sm-3.control-label Destination Host
  div.col-sm-9
    input.form-control(type="text", name="destinationhost" value=destinationhost)
div.form-group
  label.col-sm-3.control-label Destination Port
  div.col-sm-9
    input.form-control(type="text", name="destinationport" value=destinationport)
div.form-group
  label.col-sm-3.control-label Destination AE
  div.col-sm-9
    input.form-control(type="text", name="destinationAE" value=destinationAE)
div.form-group
  label.col-sm-3.control-label Source AE
  div.col-sm-9
    input.form-control(type="text", name="sourceAE" value=sourceAE)
